<!DOCTYPE html>
<html>
   <head>
       <title> Login Page </title>
       <link rel="stylesheet" href="stylelogin">
   </head>
   <body>
        <div class=<bgimage">
            <center>

          <h1> LOGIN HERE </h1>
         <form  method="POST">
          <table>
          <tr>
          <td>User Name</td>
          <td><input type="text" name="user" placeholder="User Name"></td>
          </tr>
          <tr>
          <td> Password </td>
          <td> <input type="password" name="passwd" placeholder="Password"> </td>
           </tr>
           <tr>
           <td><button type="submit">LOGIN</button></td>
           <td>Dont have an account??</td></a>
           <td><a href="{{url_for('register')}}"/>Register Here</td>
           </tr>
           </table>
       </div>
            </center>
        </div>
<!--        <div class="incorrect">-->
<!--            <p>{{incorrect}}</p>-->
<!--        </div>-->
     
   </body>
</html>